<h1>POSTS INDEX</h1>
{{#each model as |post|}}
    <ul>
        <li>{{post.titulo}}</li>
        <li>{{post.descripcion}}</li>
        <li>{{post.respuesta}}</li>
        <li>{{post.proyecto}}</li>
    </ul>
{{/each}}

{{#link-to 'posts.new' class="ui button"}}
    Nuevo
{{/link-to}}

{{outlet}}
