<!-- Nuevo post posts/new
    Model: models/post.js
-->

<form class="ui large form" {{action "save" on="submit"}}>
  <div class="fields">
    <div class="field">
      <label>Titulo</label>
      {{input placeholder="Titulo" type="text" value=model.titulo}}
    </div>
    <div class="field">
      <label>descripcion</label>
      {{textarea placeholder="descripcion" type="text" value=model.descripcion}}
    </div>
    <div class="field">
      <label>proyecto</label>
      {{input placeholder="proyecto" type="text" value=model.proyecto}}
    </div>
    <div class="field">
      <label>respuesta</label>
      {{textarea placeholder="respuesta" type="text" value=model.respuesta}}
    </div>
    <div class="field">
      <label>fxAlta</label>
      {{input placeholder="fxAlta" type="text" value=model.fxAlta}}
    </div>
  </div>
  {{input type="submit" class="ui button" value="Guardar"}} 
</form>

<div id="botonera">
    {{#link-to 'posts' action="remove" class="ui button" }}
        Cancel
    {{/link-to}}    
<br />    
    {{#link-to 'proyectos' class="ui button" }}
        Ir a Proyectos
    {{/link-to}}    
</div>
